<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/navbar.css}">
    <title>NavBar</title>
</head>
<body>

<div class="navbar">
    <nav>
        <h2 id="title">GameBase</h2>
        <ul>
            <li><a th:href="@{/}">Home</a></li>
            <li><a th:href="@{/products}">Products</a></li>
            <li><a th:href="@{/about}">About</a></li>
        </ul>
        <img src="/static/images/cartIcon.png" alt="cart">
        <h2 id="cart"><a th:href="@{/cart}">Cart</a></h2>
    </nav>
</div>


</body>
</html>